@using X.PagedList
@using X.PagedList.Mvc.Core
@using X.PagedList.Mvc.Core.Common
@model IPagedList<Transaction>
@{
    var transactions = (IPagedList<Transaction>)Model;
    var customers = (List<Customer>)ViewData["CustomerList"];
    ViewData["Title"] = "Transactions";
}

@*time range selector*@


<form asp-controller="Transactions" asp-action="Index">
    <div class="btn-group btn-group-inline"> Select a customer </div>
    @*start date*@
    <div class="btn-group btn-group-inline">
        <select class=" form-control" name="customerID">
            @{
                <option disabled selected value=""> Choose.. </option>
                foreach (Customer customer in customers)
                {
                    <option value=@customer.CustomerID> @Html.DisplayFor(x => customer.CustomerID) </option>
                }
            }
        </select>
    </div>

    <div class="btn-group btn-group-inline"> Select a time range </div>
    @*start date*@
    <div class="btn-group btn-group-inline">
        <input id="date" name="start" type="text" class="form-control" value="">
    </div>

    <div class="btn-group btn-group-inline"> - </div>

    @*end date*@
    <div class="btn-group btn-group-inline">
        <input id="date2" name="end" type="text" class="form-control" value="">
    </div>



    <div class="btn-group btn-group-inline">
        <input type="submit" value="Apply" class="btn btn-primary" />
    </div>

    @section Scripts
                {
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/js/bootstrap-datetimepicker.min.js"></script>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/css/bootstrap-datetimepicker.min.css">
        <script>
            $(function () {
                $('#date').datetimepicker();
            });

            $(function () {
                $('#date2').datetimepicker();
            });
        </script>
    }

</form>

<div>
    <table class="table">
        <tr>
            <th>@Html.DisplayNameFor(x => transactions[0].TransactionID)</th>
            <th>@Html.DisplayNameFor(x => transactions[0].TransactionType)</th>
            <th>@Html.DisplayNameFor(x => transactions[0].AccountNumber)</th>
            <th>@Html.DisplayNameFor(x => transactions[0].DestAccountNumber)</th>
            <th>@Html.DisplayNameFor(x => transactions[0].Amount)</th>
            <th>@Html.DisplayNameFor(x => transactions[0].Comment)</th>
            <th>@Html.DisplayNameFor(x => transactions[0].ModifyDate)</th>
        </tr>
        @{
            if (transactions.Count == 0)
            {
                <h2>No transaction found.</h2>
            }
            else
            {
                foreach (Transaction transaction in transactions)
                {

                    <tr>
                        @{
                            <td>@Html.DisplayFor(x => transaction.TransactionID)</td>
                            <td>@Html.DisplayFor(x => transaction.TransactionType)</td>
                            <td>@Html.DisplayFor(x => transaction.AccountNumber)</td>
                            <td>@Html.DisplayFor(x => transaction.DestAccountNumber)</td>
                            <td>@Html.DisplayFor(x => transaction.Amount)</td>
                            <td>@Html.DisplayFor(x => transaction.Comment)</td>
                            <td>@Html.DisplayFor(x => transaction.ModifyDate)</td>
                        }

                    </tr>
                }
            }
        }
    </table>

    @Html.PagedListPager(transactions, page => Url.Action("Index", new { page }),
        new PagedListRenderOptions
            {
            LiElementClasses = new[] { "page-item" },
            PageClasses = new[] { "page-link" }
        })
</div>