@model List<Login>
@{
    ViewData["Title"] = "Users";
    List<Login> logins = Model;
}

<h1>User</h1>

<div>
    <table class="table">
        <tr>
            <th> </th>
            <th>@Html.DisplayNameFor(x => logins[0].LoginID)</th>
            <th>@Html.DisplayNameFor(x => logins[0].CustomerID)</th>
            <th>@Html.DisplayNameFor(x => logins[0].Customer.CustomerName)</th>

        </tr>
        @{
            if (logins.Count == 0)
            {
                <h2>No users found.</h2>
            }
            else
            {
                foreach (Login login in logins)
                {

                    <tr>
                        <td>
                            <div class="form-group">
                                @{
                                    if (login.IsBlocked)
                                    { 
                                        <input disabled type="submit" value="Blcoked" class="btn btn-outline-danger" />

                                    }
                                    else
                                    {
                                        <form asp-controller="Users" asp-action="Block">
                                            <input hidden value="@login.LoginID" name="LoginID">
                                            <input hidden value="@login.CustomerID" name="CustomerID">
                                            <input hidden value="@login.PasswordHash" name="PasswordHash">
                                            <input hidden value="@login.ModifyDate" name="ModifyDate">
                                            <input hidden value="true" name="IsBlocked">
                                            <input type="submit" value="Block" class="btn btn-danger" />
                                        </form>

                                    }
                                }
                            </div>
                        </td>

                        @{
                            <td>@Html.DisplayFor(x => login.LoginID)</td>
                            <td>@Html.DisplayFor(x => login.CustomerID)</td>
                            <td>@Html.DisplayFor(x => login.Customer.CustomerName)</td>
                        }

                    </tr>
                }
            }
        }
    </table>
</div>