@model List<BillPay>
@{
    ViewData["Title"] = "BillPay";
    List<BillPay> billPays = Model;
}

<h1>Bill Pay</h1>

<div>
    <table class="table">
        <tr>
            <th> </th>
            <th>Payee</th>
            <th>@Html.DisplayNameFor(x => billPays[0].Amount)</th>
            <th>@Html.DisplayNameFor(x => billPays[0].ScheduleDate)</th>
            <th>@Html.DisplayNameFor(x => billPays[0].Period)</th>
        </tr>
        @{
            if (billPays.Count == 0)
            {
                <h2>No bill pay found.</h2>
            }
            else
            {
                foreach (BillPay billPay in billPays)
                {

                    <tr>
                        <td>
                            <div class="form-group">
                                @{
                                    if (billPay.IsBlocked)
                                    {
                                        <form asp-controller="BillPay" asp-action="Blcok">
                                            <input hidden value="@billPay.BillPayID" name="billPayID">
                                            <input type="submit" value="Unblock" class="btn btn-success" />
                                        </form>

                                    }
                                    else
                                    {
                                        <form asp-controller="BillPay" asp-action="Unblcok">
                                            <input hidden value="@billPay.BillPayID" name="billPayID">
                                            <input type="submit" value="Block" class="btn btn-danger" />
                                        </form>
                                        
                                    }
                                }
                            </div>
                        </td>

                        @{
                            <td>@Html.DisplayFor(x => billPay.Payee.PayeeName)</td>
                            <td>@Html.DisplayFor(x => billPay.Amount)</td>
                            DateTime date = billPay.ScheduleDate.ToLocalTime();
                            <td>@Html.DisplayFor(x => date)</td>
                            <td>@Html.DisplayFor(x => billPay.Period)</td>
                        }

                    </tr>
                }
            }
        }
    </table>
    <form asp-action="BillPay">
        <div class="form-group">
            <input type="submit" value="Add bill pay" class="btn btn-primary" />
        </div>
    </form>
</div>

<div>
    <a asp-action="Index">Back to Dashboard</a>
</div>